-# ContactMailer#contact_mail

-# = @greeting + ", find me in app/views/contact_mailer_mailer/contact_mail.text.haml"
%h3 お問い合わせ内容
\------------------------------------------------
%p
  email: #{@contact.email}
%p
  content: #{@contact.message}
\------------------------------------------------
