.contact_wrapper {
  background-color: white;
}
.contact_main{
  width: 100%;
  background: rgba(255,255,255,0.8); //背景を白くぼかす
}
.contact_title {
  margin:0 auto;
  width: 600px;
  height: 100px;
  line-height:100px;

}

.contact_main_title{
  font-size: 40px;
  font-family: "Courier New", Courier, Monaco;
  color: black;
  font-weight:normal; 
  text-align:center;
}

.contact_explanation{
  width: 800px;
  height: 250px;
  font-family: "Courier New", Courier, Monaco;
  margin: 0 auto; 
}


.contact_mail{
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}



.contact{
  width: 600px;
  margin: 20px auto; //この箱を中央に配置
}



.sns_title{
  text-align: left;
  font-size: 17px;
  margin: 5px 0 0 15px; //上 右 下 左
  font-weight:bold; 
}
.sns_text{
  font-size: 15px;
  text-align: left;
  margin-left: 10px;

  
}
.sns_flex{
  list-style: none; //点消去
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}
.icon{
  color:black;
}

.inquiry{
  text-decoration: none; //アンダーライン消去
  color: black; 
  font-size: 15px;
}

.contact_back{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottun{
  margin:10px 0;
  font-size: 15px;
  color: black;
  text-align:center;
  background-color: white;
  border: 1px solid;
  border-radius: 100px;
  width:200px;
  line-height:35px;
  height: 30px;
  font-weight: bold;
  text-decoration: none;
}


