.works_wrapper {
  height: 100%;
}
.works_main{
  width: 100%;
  background: rgba(255,255,255,0.65); //背景を白くぼかす
}
.works_main_title  {
  margin:0 auto;
  width: 600px;
  height: 100px;
  line-height:100px;

}

.works_main_title{
  font-size: 40px;
  font-family: "Courier New", Courier, Monaco;
  color: black;
  font-weight:normal;
  text-align:center;
  margin: 0 auto;
}

.all_works{
  width: 800px;
  // background-color: blue;
  border-style:#f6f6f6;
  font-family: "Courier New", Courier, Monaco;
  margin: 0 auto; //この箱を中央に配置
}
.works{
  width: 600px;
  margin: 0 auto; //この箱を中央に配置
  margin-bottom: 70px;
  // background-color: burlywood;
}
.works_image{
  display: flex;
  justify-content: center;
  margin: 20px auto;

}
.works_picture{
  width: 400px;
  height: 300px;
}



.works_title,.works_url_title,.works_github_title,.works_explanationb_title,.works_basic_title{
  text-align: left;
  font-size: 15px;
  margin: 10px 0 0 15px; //上 右 下 左
  font-weight:bold;
}

.works_title_name,.works_url,.works_github,.works_explanation,.works_pass{
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  border-bottom: double 5px black;
}

.works_word{
  color: black;
  text-decoration: none; //アンダーライン消去
}
#explanation_sub{
  text-align: left;
  text-indent: 1em;
}
.works_note{
  color: red;
  font-size: 8px;
  text-align: center;
}



.works_back{
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}
