.profile_wrapper
  .profile_main
    .profile_title
      %h1.profile_main_title
        Plofile
    .profile_image_career
      .profile_image
        = image_tag asset_path("img1.jpg"),class: "picture", id:"pictures" ,alt: "nantyan.jpg"
      .profile_career
        .name_title
          .title
            《名前》
          .name
            松野健吾
        .educational_background
          .title
            《学歴》
          .text
            %ul.text_educational
              %li 2015年 3月 大同大学工学部総合機械工学科機械システム専攻 (学士)
              %li 2017年 3月 大同大学大学院工学研究科機械工学専攻 (修士)
        .career
          .title
            《経歴》
          .text
            %ul{type: "disc"}
              %li 大手プラスチック製造会社に入社
              %li 新規素材の技術開発部署で3年勤務
              %li テックキャンプでプログラミングを学び、転職活動中(2020年6月更新）
        .interest
          .title
            《プログラマーを目指す経緯》
          .text#introduction
            服が好きで、アパレルとエンジニアを結び付けた仕事ができたら理想だと思い、
            %br/
            ITエンジニアであればその両方を兼ね備えた仕事ができるのではないかと考え、プログラミングに興味を持ちました。
            %br/
            　最初は、Progateやpaiza等でrubyの基礎を独学していました。
            %br/
            次第にアプリの開発やIT業界への転職を本格的に考え始めるようになり、プログラミングについてより深く勉強するため、テックキャンプへ入校することを決めました。
            %br/
            　
    .profile_home_back
      = link_to "戻る", root_path ,class: "profile_bottun"

