.skill_wrapper
  .skill_main
    %header.header_skill
      .header_skill_title
    .skill_title 
      %h1.skill_main_title
        Skill
    .skill_explanation
      .language
        .skill_language_title
          《プログラミング言語》
        .skill_language_word
          Ruby/Ruby on Rails
          %br/
          Javascript, jQuery, Rspec, Mini test
      .language
        .skill_language_title
          《データーベース》
        .skill_language_word
          MySQL, SQlite
      .language
        .skill_language_title
          《インフラ》
        .skill_language_word
          AWS(EC2、S3等), Heroku
          %br/
          Docker/docker-compose, CircleCI(自動テスト)
      .language
        .skill_language_title
          《開発ツール》
        .skill_language_word
          Git hub,Docker hub, 
          %br/
          Visual Studio Code, AWS Cloud9
      -# .language
      -#   .skill_language_title
      -#     《現在勉強中の内容》
      -#   .skill_text
      -#     %ul{type: "disc"}
      -#       %li Docker/docker-composeを使用したアプリ制作、AWSへのデプロイ
      -#       %li railsチュートリアルの実施中
          

    .skill_back
      = link_to "戻る", root_path ,class: "skill_bottun"
    %footer.footer_skill
      .footer_skill_title